@import url("https://fonts.googleapis.com/css2?family=Solitreo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Solitreo", cursive;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

nav {
  height: 100%;
  width: 0;
  position: fixed;
  background-color: brown;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  background-color: rgb(42, 41, 41);
  font-size: 1.65rem;
}
ul {
  padding-left: 10px;
  margin-top: 30px;
}
li {
  margin-top: 20px;
  color: rgb(116, 116, 116);
  cursor: pointer;
  transition: 0.3s;
  display: block;
  width: 250px;
}
li:hover {
  color: #fff;
}
.selected-task {
  color: #fff !important;
}

article {
  background-image: url("todo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}
.items img {
  pointer-events: none;
}

span {
  cursor: pointer;
}

[disabled] {
  opacity: 0.2 !important;
  pointer-events: none;
}

.open-menu {
  color: #000;
  font-size: 30px;
  margin-left: 10px;
}
.create {
  margin-left: 45px;
  display: inline-block;
  font-size: 1.3rem;
}
.create button {
  background-color: rgb(72, 72, 72);
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.create button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.todo-item {
  margin-top: 3px;
  padding: 5px;
  width: 44%;
  display: grid;
  grid-template-columns: 27% 27% 27%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "task task task"
    "done edit delete";
  background-color: rgba(0, 0, 0, 0.55);
  justify-content: space-between;
}
.todo-item button {
  border: none;
  height: 35px;
  opacity: 1;
  transition: 0.5s;
}
.todo-item button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.task {
  outline: none;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
  display: block;
  grid-area: task;
  transition: 1s linear;
  height: 33px;
  font-size: 1.1rem;
}
.task:focus {
  outline: 1px solid red;
  border: none;
}
.delete-icon {
  grid-area: delete;
  background-color: rgb(243, 93, 93);
}
.tick-icon {
  grid-area: done;
  background-color: rgb(67, 255, 73);
}
.edit-icon {
  grid: edit;
  background-color: rgb(240, 240, 76);
}

.done-item input {
  background-color: rgb(64, 218, 64);
  text-decoration: line-through;
}

#date {
  color: #fff;
  display: block;
  margin-left: 10px;
  font-size: 2rem;
}

.welcome {
  margin-left: 45px;
  font-size: 2rem;
  width: 250px;
}

.close-menu {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media only screen and (max-width: 720px) {
  article {
    overflow: auto;
  }

  .welcome-create-bundle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 30px;
  }

  .todo-item {
    width: 88%;
  }
}
@media only screen and (max-width: 480px) {
    article {
        background-image: url("todo-small.jpg");
    }
}